In [5]:
import os
import pandas as pd
import sqlalchemy as db
from pathlib import Path
from tqdm.auto import tqdm

In [2]:
username = 'amos'
password = 'M0$hicat'
host = '192.168.0.131'
port = '3306'
database = 'CineFace'

In [3]:
connection_string = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}'
engine = db.create_engine(connection_string)

In [11]:
d = Path('./data/clusters/house_2004_0412142')
paths = [x for x in d.iterdir() if x.suffix == '.csv']
dfs = [pd.read_csv(x, index_col=0) for x in paths]
df = pd.concat(dfs, axis=0)
df.head()
# for root, dir, files in os.walk(str(d)):
#     for name in files:
#         fp = Path(root).joinpath(name)
#         if fp.suffix in ['.png', '.jpeg', '.jpg']:
#             paths.append(fp)

   episode_id          character  personID  cluster  confidence
0     2121961  Dr. Gregory House    491402      3.0       0.674
1     2121961   Dr. Eric Foreman      4898      4.0       0.578
2     2121961   Dr. James Wilson       494     12.0       0.583
3     2121961   Dr. Robert Chase    817980     11.0       0.592
4     2121961     Dr. Chris Taub    414772      9.0       0.688

In [12]:
episode = df[df['episode_id'] == 2121961]
episode

   episode_id          character  personID  cluster  confidence
0     2121961  Dr. Gregory House    491402      3.0       0.674
1     2121961   Dr. Eric Foreman      4898      4.0       0.578
2     2121961   Dr. James Wilson       494     12.0       0.583
3     2121961   Dr. Robert Chase    817980     11.0       0.592
4     2121961     Dr. Chris Taub    414772      9.0       0.688
5     2121961  Dr. Jessica Adams    951148      8.0       0.466
6     2121961       Dr. Chi Park   2304722     10.0       0.560
7     2121961     Dominika House   2764521     17.0       0.384
8     2121961              Nurse     75061      2.0       0.366

In [13]:
df.shape

(1756, 5)