In [112]:
import numpy as np
import pandas as pd
import sqlalchemy as db
import plotly.graph_objs as go
from tqdm.auto import tqdm
from tmdbv3api import TMDb, TV, Find, Season, Episode, exceptions, Person, Movie

In [21]:
tmdb = TMDb()
tmdb.api_key = '64a6b6f9419ae4cba5b9a5f1c9e87401'

In [23]:
person = Person()

In [3]:
connection_string = 'mysql+pymysql://amos:M0$hicat@192.168.0.131:3306/CineFace'
engine = db.create_engine(connection_string)

In [4]:
with engine.connect() as conn:
    df = pd.read_sql_query('SELECT * FROM faces WHERE imdb_id = 412142', conn)
df.head()

,imdb_id,season,episode,frame_num,face_num,x1,y1,x2,y2,right_eye_x,...,mouth_left_y,confidence,encoding,detection_backend,recognition_model,img_height,img_width,pct_of_frame,distance_from_center,cast_id
0,412142,1,1,240,0,702,192,972,558,780,...,None,0.908107,"[-0.6357511281967163, -1.149339199066162, 0.81...",yunet,Facenet,1080,1920,0.0477,205.0,17346.0
1,412142,1,1,264,0,714,258,978,624,798,...,None,0.903495,"[-0.894336462020874, -1.4297524690628052, 1.68...",yunet,Facenet,1080,1920,0.0466,150.0,17346.0
2,412142,1,1,288,0,336,270,648,696,438,...,None,0.908183,"[-1.1866512298583984, -1.5679306983947754, 0.0...",yunet,Facenet,1080,1920,0.0641,471.0,NaN
3,412142,1,1,1056,0,918,144,1092,372,966,...,None,0.918759,"[-0.5206587314605713, -0.4623100161552429, 0.8...",yunet,Facenet,1080,1920,0.0191,285.0,NaN
4,412142,1,1,1080,0,996,96,1164,318,1044,...,None,0.917952,"[0.977651834487915, 0.8758161067962646, -1.128...",yunet,Facenet,1080,1920,0.0180,353.0,62717.0

In [24]:
def get_name(cast_id):
    p = person.details(cast_id)
    return p['name']

In [86]:
to_keep = ['Hugh Laurie', 'Lisa Edelstein', 'Robert Sean Leonard', 'Omar Epps', 'Jennifer Morrison', 'Jesse Spencer']
episode_df = df[(df['season'] == 1) &
                (df['episode'] == 1)]
cast_ids = episode_df['cast_id'].unique().tolist()
characters = {int(cast_id): get_name(int(cast_id)) for cast_id in cast_ids if not pd.isnull(cast_id)}
characters = {k: v for k, v in characters.items() if v in to_keep}
episode_df = episode_df[episode_df['cast_id'].isin(characters.keys())]
print(characters)
episode_df.head()

{2692: 'Robert Sean Leonard', 41419: 'Hugh Laurie', 4987: 'Omar Epps', 41421: 'Jennifer Morrison', 41422: 'Jesse Spencer', 41420: 'Lisa Edelstein'}

,imdb_id,season,episode,frame_num,face_num,x1,y1,x2,y2,right_eye_x,...,mouth_left_y,confidence,encoding,detection_backend,recognition_model,img_height,img_width,pct_of_frame,distance_from_center,cast_id
83,412142,1,1,5040,0,1122,216,1494,732,1158,...,None,0.923750,"[-0.26075223088264465, -1.8534671068191528, 0....",yunet,Facenet,1080,1920,0.0926,354.0,2692.0
84,412142,1,1,5064,0,912,228,1278,726,978,...,None,0.936546,"[-0.6822558641433716, -1.11537504196167, 0.311...",yunet,Facenet,1080,1920,0.0879,148.0,2692.0
85,412142,1,1,5088,0,990,216,1326,678,1068,...,None,0.925272,"[-0.8311804533004761, -0.8259707689285278, 0.5...",yunet,Facenet,1080,1920,0.0749,218.0,2692.0
86,412142,1,1,5112,0,474,186,924,822,600,...,None,0.923320,"[-1.4103442430496216, -2.264214277267456, 0.01...",yunet,Facenet,1080,1920,0.1380,263.0,41419.0
87,412142,1,1,5136,0,492,96,972,822,672,...,None,0.904765,"[-0.918871283531189, -2.039782762527466, -0.44...",yunet,Facenet,1080,1920,0.1681,241.0,41419.0

In [6]:
row = episode_df.iloc[0]
row

imdb_id                                                            412142
season                                                                  1
episode                                                                 1
frame_num                                                             240
face_num                                                                0
x1                                                                    702
y1                                                                    192
x2                                                                    972
y2                                                                    558
right_eye_x                                                           780
right_eye_y                                                           330
left_eye_x                                                            900
left_eye_y                                                            324
nose_x                                                               None
nose_y                                                               None
mouth_right_x                                                        None
mouth_right_y                                                        None
mouth_left_x                                                         None
mouth_left_y                                                         None
confidence                                                       0.908107
encoding                [-0.6357511281967163, -1.149339199066162, 0.81...
detection_backend                                                   yunet
recognition_model                                                 Facenet
img_height                                                           1080
img_width                                                            1920
pct_of_frame                                                       0.0477
distance_from_center                                                205.0
cast_id                                                           17346.0
Name: 0, dtype: object

In [30]:
a = 4987 # Hugh Laurie
b = 41421 # Omar Epps

In [31]:
b_df = episode_df[episode_df['cast_id'] == b].sort_values(by='frame_num').iloc[0]
b_df

imdb_id                                                            412142
season                                                                  1
episode                                                                 1
frame_num                                                            8928
face_num                                                                0
x1                                                                    714
y1                                                                    186
x2                                                                    954
y2                                                                    516
right_eye_x                                                           786
right_eye_y                                                           318
left_eye_x                                                            906
left_eye_y                                                            312
nose_x                                                               None
nose_y                                                               None
mouth_right_x                                                        None
mouth_right_y                                                        None
mouth_left_x                                                         None
mouth_left_y                                                         None
confidence                                                       0.917973
encoding                [-1.5758254528045654, -0.07657533138990402, 1....
detection_backend                                                   yunet
recognition_model                                                 Facenet
img_height                                                           1080
img_width                                                            1920
pct_of_frame                                                       0.0382
distance_from_center                                                227.0
cast_id                                                           41421.0
Name: 167, dtype: object

In [32]:
distance = b_df['frame_num'] - row['frame_num']
distance

8688

In [95]:
def find_nearest(a_frame, b):
    """Finds the nearest frame in b to a_frame."""
    differences = abs(b - a_frame)
    return differences.min()

In [96]:
def calc_distance(a, b, df):
    df = df[df['cast_id'].notna()]
    a_frames = df[df['cast_id'] == a].sort_values(by='frame_num')['frame_num']
    b_frames = df[df['cast_id'] == b].sort_values(by='frame_num')['frame_num']

    distances_a_to_b = []
    for a_frame in a_frames:
        min_difference = find_nearest(a_frame, b_frames)
        distances_a_to_b.append(min_difference)

    distances_b_to_a = []
    for b_frame in b_frames:
        min_difference = find_nearest(b_frame, a_frames)
        distances_b_to_a.append(min_difference)

    avg_a_to_b = np.mean(distances_a_to_b) if distances_a_to_b else 0  # Handle empty lists
    avg_b_to_a = np.mean(distances_b_to_a) if distances_b_to_a else 0

    return round(np.mean([avg_a_to_b, avg_b_to_a]), 1) if distances_a_to_b or distances_b_to_a else 0 #Handles if both lists are empty.

# def calc_distance(a, b, df):
#     df = df[df['cast_id'].notna()]
#     a = df[df['cast_id'] == a].sort_values(by='frame_num')['frame_num']
#     b = df[df['cast_id'] == b].sort_values(by='frame_num')['frame_num']

#     distances = []
#     for a_frame in a:
#         min_difference = find_nearest(a_frame, b)
#         distances.append(min_difference)
#     return round(np.mean(distances), 1)



    # distances = []
    # for idx, row in a.iterrows():
    #     temp = b[b['frame_num'] >= row['frame_num']]
    #     frame_num = temp.iloc[0]['frame_num'] if temp.shape[0] > 0 else np.nan
    #     if not pd.isnull(frame_num):
    #         distance = abs(frame_num - row['frame_num'])
    #     else:
    #         distance = np.nan
    #     distances.append(distance)
    # avg_distance = np.mean(distances)
    # return round(avg_distance) if not pd.isnull(avg_distance) else avg_distance

In [97]:
def calc_distances(df):
    cast_ids = [x for x in df['cast_id'].unique().tolist() if not pd.isnull(x)]
    data = []
    for a in tqdm(cast_ids):
        for b in [x for x in cast_ids if x != a]:
            avg_distance = calc_distance(a, b, df)
            datum = {'cast_id': characters[a],
                     'target_id': characters[b],
                     'avg_distance': avg_distance}
            data.append(datum)
    return pd.DataFrame(data)

In [98]:
calc_distance(a, b, episode_df)

1833.8

In [99]:
temp = calc_distances(episode_df)
temp

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:01<00:00,  5.36it/s]

                cast_id            target_id  avg_distance
0   Robert Sean Leonard          Hugh Laurie        1689.4
1   Robert Sean Leonard            Omar Epps        3983.9
2   Robert Sean Leonard    Jennifer Morrison        2932.1
3   Robert Sean Leonard        Jesse Spencer        2572.0
4   Robert Sean Leonard       Lisa Edelstein        3966.7
5           Hugh Laurie  Robert Sean Leonard        1689.4
6           Hugh Laurie            Omar Epps        1005.1
7           Hugh Laurie    Jennifer Morrison        1280.1
8           Hugh Laurie        Jesse Spencer        1320.8
9           Hugh Laurie       Lisa Edelstein        2129.6
10            Omar Epps  Robert Sean Leonard        3983.9
11            Omar Epps          Hugh Laurie        1005.1
12            Omar Epps    Jennifer Morrison        1833.8
13            Omar Epps        Jesse Spencer        1795.0
14            Omar Epps       Lisa Edelstein        3174.4
15    Jennifer Morrison  Robert Sean Leonard        2932.1
16    Jennifer Morrison          Hugh Laurie        1280.1
17    Jennifer Morrison            Omar Epps        1833.8
18    Jennifer Morrison        Jesse Spencer        1061.1
19    Jennifer Morrison       Lisa Edelstein        3163.0
20        Jesse Spencer  Robert Sean Leonard        2572.0
21        Jesse Spencer          Hugh Laurie        1320.8
22        Jesse Spencer            Omar Epps        1795.0
23        Jesse Spencer    Jennifer Morrison        1061.1
24        Jesse Spencer       Lisa Edelstein        4631.9
25       Lisa Edelstein  Robert Sean Leonard        3966.7
26       Lisa Edelstein          Hugh Laurie        2129.6
27       Lisa Edelstein            Omar Epps        3174.4
28       Lisa Edelstein    Jennifer Morrison        3163.0
29       Lisa Edelstein        Jesse Spencer        4631.9

In [102]:
distance_df = temp.pivot(index='cast_id', columns='target_id', values='avg_distance')
distance_df

target_id,Hugh Laurie,Jennifer Morrison,Jesse Spencer,Lisa Edelstein,Omar Epps,Robert Sean Leonard
cast_id,,,,,,
Hugh Laurie,NaN,1280.1,1320.8,2129.6,1005.1,1689.4
Jennifer Morrison,1280.1,NaN,1061.1,3163.0,1833.8,2932.1
Jesse Spencer,1320.8,1061.1,NaN,4631.9,1795.0,2572.0
Lisa Edelstein,2129.6,3163.0,4631.9,NaN,3174.4,3966.7
Omar Epps,1005.1,1833.8,1795.0,3174.4,NaN,3983.9
Robert Sean Leonard,1689.4,2932.1,2572.0,3966.7,3983.9,NaN

In [94]:
g = episode_df.groupby('cast_id').size()
g.index = g.index.map(lambda x: characters[int(x)])
g

cast_id
Robert Sean Leonard     60
Omar Epps              111
Hugh Laurie            407
Lisa Edelstein          99
Jennifer Morrison       84
Jesse Spencer           58
dtype: int64

In [104]:
def normalize_cooccurrence(cooccurrence_df, episode_df, characters):
    """
    Normalizes co-occurrence data by character's total frame count.

    Args:
        cooccurrence_df: DataFrame with co-occurrence measures (e.g., your pivot table).
        episode_df: DataFrame with frame-level character presence.
        characters: dictionary of cast_id to character name.

    Returns:
        Normalized DataFrame.
    """
    normalized_df = cooccurrence_df.copy()

    for character_a in normalized_df.index:
        cast_id_a = list(characters.keys())[list(characters.values()).index(character_a)]
        total_frames_a = len(episode_df[episode_df['cast_id'] == cast_id_a])

        for character_b in normalized_df.columns:
            cast_id_b = list(characters.keys())[list(characters.values()).index(character_b)]
            total_frames_b = len(episode_df[episode_df['cast_id'] == cast_id_b])

            if total_frames_a > 0 and total_frames_b > 0:
                normalized_df.loc[character_a, character_b] = (
                    normalized_df.loc[character_a, character_b] / ((total_frames_a + total_frames_b)/2)
                )
            else:
                normalized_df.loc[character_a, character_b] = 0.0 #handle division by zero.

    return normalized_df.round(1)

In [105]:
normed = normalize_cooccurrence(distance_df, episode_df, characters)
normed

target_id,Hugh Laurie,Jennifer Morrison,Jesse Spencer,Lisa Edelstein,Omar Epps,Robert Sean Leonard
cast_id,,,,,,
Hugh Laurie,NaN,5.2,5.7,8.4,3.9,7.2
Jennifer Morrison,5.2,NaN,14.9,34.6,18.8,40.7
Jesse Spencer,5.7,14.9,NaN,59.0,21.2,43.6
Lisa Edelstein,8.4,34.6,59.0,NaN,30.2,49.9
Omar Epps,3.9,18.8,21.2,30.2,NaN,46.6
Robert Sean Leonard,7.2,40.7,43.6,49.9,46.6,NaN

In [134]:
def fast_sliding_window_cooccurrence(df, cast_id_a, cast_id_b, window_size):
    """
    Calculates co-occurrence using a sliding window with vectorized operations.
    """
    frame_numbers = sorted(df['frame_num'].unique())
    windows = [frame_numbers[i:i + window_size] for i in range(0, max(frame_numbers) - window_size + 1, 24)]

    def check_window(window):
        window_df = df[df['frame_num'].isin(window)]
        a_present = cast_id_a in window_df['cast_id'].values
        b_present = cast_id_b in window_df['cast_id'].values
        return a_present and b_present

    cooccurrence_count = sum(check_window(window) for window in windows)
    return cooccurrence_count

def fast_calculate_all_cooccurrences(df, characters, window_size):
    """Calculates co-occurrence for all character pairs (fast)."""
    cast_ids = [x for x in df['cast_id'].unique().tolist() if not pd.isnull(x)]
    data = []

    for a in tqdm(cast_ids):
        for b in [x for x in cast_ids if x != a]:
            cooccurrence = fast_sliding_window_cooccurrence(df, a, b, window_size)
            datum = {'cast_id': characters[a],
                     'target_id': characters[b],
                     'cooccurrence': cooccurrence}
            data.append(datum)

    return pd.DataFrame(data)

# Example usage:
window_size = 24 * 30
fast_cooccurrence_results = fast_calculate_all_cooccurrences(episode_df, characters, window_size)
fast_cooccurrence_pivot = fast_cooccurrence_results.pivot(index='cast_id', columns='target_id', values='cooccurrence')
fast_cooccurrence_pivot

  0%|          | 0/6 [00:00<?, ?it/s]

target_id,Hugh Laurie,Jennifer Morrison,Jesse Spencer,Lisa Edelstein,Omar Epps,Robert Sean Leonard
cast_id,,,,,,
Hugh Laurie,NaN,32.0,32.0,31.0,27.0,33.0
Jennifer Morrison,32.0,NaN,32.0,31.0,27.0,32.0
Jesse Spencer,32.0,32.0,NaN,31.0,27.0,32.0
Lisa Edelstein,31.0,31.0,31.0,NaN,27.0,31.0
Omar Epps,27.0,27.0,27.0,27.0,NaN,27.0
Robert Sean Leonard,33.0,32.0,32.0,31.0,27.0,NaN

1440

In [124]:
def normalize_by_joint_probability(cooccurrence_df, total_windows):
    """
    Normalizes co-occurrence data by joint probability.
    """
    return cooccurrence_df / total_windows

# Example usage (assuming you have calculated total_windows):
total_windows = episode_df['frame_num'].max() - window_size + 1
normalized_cooccurrence_table = normalize_by_joint_probability(
    fast_cooccurrence_pivot, total_windows
)
normalized_cooccurrence_table.round(3)

target_id,Hugh Laurie,Jennifer Morrison,Jesse Spencer,Lisa Edelstein,Omar Epps,Robert Sean Leonard
cast_id,,,,,,
Hugh Laurie,NaN,0.009,0.009,0.006,0.010,0.007
Jennifer Morrison,0.009,NaN,0.008,0.005,0.009,0.006
Jesse Spencer,0.009,0.008,NaN,0.004,0.008,0.006
Lisa Edelstein,0.006,0.005,0.004,NaN,0.006,0.004
Omar Epps,0.010,0.009,0.008,0.006,NaN,0.006
Robert Sean Leonard,0.007,0.006,0.006,0.004,0.006,NaN

In [119]:
def normalize_by_individual_frequencies(cooccurrence_df, episode_df, characters):
    """
    Normalizes co-occurrence data by individual character frequencies.
    """
    normalized_df = cooccurrence_df.copy()
    for character_a in normalized_df.index:
        cast_id_a = list(characters.keys())[list(characters.values()).index(character_a)]
        
        for character_b in normalized_df.columns:
            cast_id_b = list(characters.keys())[list(characters.values()).index(character_b)]

            # Calculate frames where either character appears (without overcounting)
            either_a_or_b_frames = episode_df[
                (episode_df['cast_id'] == cast_id_a) | (episode_df['cast_id'] == cast_id_b)
            ]['frame_num'].nunique()

            if either_a_or_b_frames > 0:
                normalized_df.loc[character_a, character_b] = (
                    normalized_df.loc[character_a, character_b] / either_a_or_b_frames
                )
            else:
                normalized_df.loc[character_a, character_b] = 0.0  # Handle division by zero

    return normalized_df

In [120]:
normalized_cooccurrence_table = normalize_by_individual_frequencies(
    fast_cooccurrence_pivot, episode_df, characters)
normalized_cooccurrence_table

target_id,Hugh Laurie,Jennifer Morrison,Jesse Spencer,Lisa Edelstein,Omar Epps,Robert Sean Leonard
cast_id,,,,,,
Hugh Laurie,NaN,1.181263,1.189247,0.812371,1.223938,0.942857
Jennifer Morrison,1.181263,NaN,3.788321,1.808743,2.764103,2.618056
Jesse Spencer,1.189247,3.788321,NaN,1.732484,3.160494,2.923729
Lisa Edelstein,0.812371,1.808743,1.732484,NaN,1.680952,1.716981
Omar Epps,1.223938,2.764103,3.160494,1.680952,NaN,2.356725
Robert Sean Leonard,0.942857,2.618056,2.923729,1.716981,2.356725,NaN