In [2]:
import pandas as pd
import sqlalchemy as db
import plotly.graph_objs as go

In [3]:
connection_string = 'mysql+pymysql://amos:M0$hicat@192.168.0.131:3306/CineFaceDW'
engine = db.create_engine(connection_string)

In [18]:
with engine.connect() as conn:
    df = pd.read_sql_query('SELECT * FROM cast', conn)
df.head()

,cast_id,name,imdb_id,series,season,episode,count,frequency,avg_face_pct_of_frame
0,4,Carrie Fisher,106004,None,3,1,2.0,0.004,0.0225
1,14,Ellen DeGeneres,157246,None,3,15,15.0,0.012,0.0467
2,18,Brad Garrett,98904,None,7,21,3.0,0.004,0.0150
3,18,Brad Garrett,98904,None,7,22,NaN,NaN,NaN
4,19,Allison Janney,106004,None,9,8,NaN,NaN,NaN

In [19]:
actors = [
    'Hugh Laurie', 
    'Lisa Edelstein', 
    'Robert Sean Leonard', 
    'Omar Epps', 
    'Jennifer Morrison', 
    'Jesse Spencer',
    'Olivia Wilde',
    'Peter Jacobson',
    'Kal Penn']
house_df = df[(df['imdb_id'] == 412142)]
house_df = house_df[['name', 'season', 'episode', 'frequency']]
house_df = house_df[house_df['name'].isin(actors)]
house_df = house_df.fillna(0)
house_df.head()

                    name  season  episode  frequency
598  Robert Sean Leonard       1        1      0.048
599  Robert Sean Leonard       1        2      0.040
600  Robert Sean Leonard       1        3      0.060
601  Robert Sean Leonard       1        4      0.063
602  Robert Sean Leonard       1        5      0.044

In [87]:
# g = house_df.groupby('name').size()
# g = g[g > 5]
# house_filtered = house_df[house_df['name'].isin(g.index)]
# house_filtered

In [103]:
pivot = house_df.pivot(index=['season', 'episode'], columns='name', values='frequency')
pivot

name            Hugh Laurie  Jennifer Morrison  Jesse Spencer  Kal Penn  \
season episode
1      1              0.326              0.067          0.046       NaN
       2              0.373              0.097          0.031       NaN
       3              0.323              0.099          0.057       NaN
       4              0.234              0.123          0.027       NaN
       5              0.284              0.063          0.099       NaN
...                     ...                ...            ...       ...
8      18             0.238                NaN          0.091       NaN
       19             0.184                NaN          0.089       NaN
       20             0.226                NaN          0.170       NaN
       21             0.236                NaN          0.000       NaN
       22             0.389              0.063          0.008     0.005

name            Lisa Edelstein  Olivia Wilde  Omar Epps  Peter Jacobson  \
season episode
1      1                 0.079           NaN      0.089             NaN
       2                 0.029           NaN      0.115             NaN
       3                 0.028           NaN      0.077             NaN
       4                 0.045           NaN      0.095             NaN
       5                 0.077           NaN      0.072             NaN
...                        ...           ...        ...             ...
8      18                  NaN           NaN      0.031           0.122
       19                  NaN           NaN      0.022           0.062
       20                  NaN           NaN      0.061           0.053
       21                  NaN         0.038      0.033           0.070
       22                  NaN         0.004      0.066           0.025

name            Robert Sean Leonard
season episode
1      1                      0.048
       2                      0.040
       3                      0.060
       4                      0.063
       5                      0.044
...                             ...
8      18                     0.025
       19                     0.191
       20                     0.238
       21                     0.231
       22                     0.193

[176 rows x 9 columns]

In [104]:
p = pivot.corr().round(2)
p

name,Hugh Laurie,Jennifer Morrison,Jesse Spencer,Kal Penn,Lisa Edelstein,Olivia Wilde,Omar Epps,Peter Jacobson,Robert Sean Leonard
name,,,,,,,,,
Hugh Laurie,1.00,0.03,-0.41,-0.28,-0.17,-0.23,-0.06,-0.29,-0.06
Jennifer Morrison,0.03,1.00,0.29,-0.29,-0.11,-0.25,0.17,-0.21,-0.13
Jesse Spencer,-0.41,0.29,1.00,-0.23,-0.06,-0.19,-0.05,0.05,-0.08
Kal Penn,-0.28,-0.29,-0.23,1.00,-0.14,-0.04,0.09,0.32,-0.08
Lisa Edelstein,-0.17,-0.11,-0.06,-0.14,1.00,-0.10,-0.22,-0.02,-0.16
Olivia Wilde,-0.23,-0.25,-0.19,-0.04,-0.10,1.00,0.31,0.04,-0.15
Omar Epps,-0.06,0.17,-0.05,0.09,-0.22,0.31,1.00,-0.16,-0.08
Peter Jacobson,-0.29,-0.21,0.05,0.32,-0.02,0.04,-0.16,1.00,-0.13
Robert Sean Leonard,-0.06,-0.13,-0.08,-0.08,-0.16,-0.15,-0.08,-0.13,1.00

In [105]:
data = [go.Heatmap(z=p.values,
                   x=p.columns,
                   y=p.index,
                   colorscale='RdBu',
                   zmin=-1,
                   zmax=1)]
fig = go.Figure(data=data)
fig.show()

In [115]:
actors = [
    'Jerry Seinfeld', 
    'Julia Louis-Dreyfus', 
    'Jason Alexander', 
    'Michael Richards']
seinfeld_df = df[df['imdb_id'] == 98904]
seinfeld_df = seinfeld_df[['season', 'episode', 'name', 'frequency']].fillna(0)
seinfeld_df = seinfeld_df[seinfeld_df['name'].isin(actors)]

In [116]:
pivot = seinfeld_df.pivot(index=['season', 'episode'], columns='name', values='frequency')
pivot

name            Jason Alexander  Jerry Seinfeld  Julia Louis-Dreyfus  \
season episode
1      1                  0.039           0.524                0.000
       2                  0.022           0.449                0.141
       3                  0.043           0.379                0.196
       4                  0.033           0.509                0.088
       5                  0.070           0.431                0.116
...                         ...             ...                  ...
9      18                 0.076           0.227                0.156
       19                 0.096           0.237                0.228
       20                 0.108           0.210                0.137
       21                 0.115           0.230                0.112
       22                 0.103           0.173                0.085

name            Michael Richards
season episode
1      1                   0.046
       2                   0.005
       3                   0.031
       4                   0.015
       5                   0.041
...                          ...
9      18                  0.085
       19                  0.092
       20                  0.104
       21                  0.079
       22                  0.041

[171 rows x 4 columns]

In [117]:
p = pivot.corr().round(2)
p

name,Jason Alexander,Jerry Seinfeld,Julia Louis-Dreyfus,Michael Richards
name,,,,
Jason Alexander,1.00,-0.11,-0.26,0.09
Jerry Seinfeld,-0.11,1.00,-0.11,-0.27
Julia Louis-Dreyfus,-0.26,-0.11,1.00,-0.02
Michael Richards,0.09,-0.27,-0.02,1.00

In [11]:
actors = [
    'Ty Burrell',
    "Ed O'Neill",
    'Sofía Vergara',
    'Julie Bowen',
    'Jesse Tyler Ferguson',
    'Eric Stonestreet',
    'Rico Rodriguez',
    'Nolan Gould',
    'Sarah Hyland',
    'Ariel Winter']
modern_family = df[df['imdb_id'] == 1442437]
modern_family = modern_family[['season', 'episode', 'name', 'frequency']].fillna(0)
modern_family = modern_family[modern_family['name'].isin(actors)]

In [12]:
pivot = modern_family.pivot(index=['season', 'episode'], columns='name', values='frequency')
pivot

name            Ariel Winter  Ed O'Neill  Eric Stonestreet  \
season episode
1      1               0.020       0.146             0.088
       2               0.000       0.140             0.201
       3               0.060       0.127             0.111
       4               0.000       0.067             0.091
       5               0.008       0.086             0.058
...                      ...         ...               ...
11     14              0.001       0.078             0.183
       15              0.085       0.028             0.133
       16              0.073       0.056             0.119
       17              0.068       0.013             0.165
       18              0.074       0.051             0.133

name            Jesse Tyler Ferguson  Julie Bowen  Nolan Gould  \
season episode
1      1                       0.085        0.129        0.002
       2                       0.082        0.076        0.004
       3                       0.104        0.130        0.000
       4                       0.167        0.125        0.003
       5                       0.067        0.227        0.009
...                              ...          ...          ...
11     14                      0.130        0.092        0.002
       15                      0.118        0.138        0.012
       16                      0.098        0.087        0.033
       17                      0.071        0.082        0.042
       18                      0.075        0.062        0.063

name            Rico Rodriguez  Sarah Hyland  Sofía Vergara  Ty Burrell
season episode
1      1                 0.013         0.031          0.081       0.182
       2                 0.047         0.000          0.075       0.203
       3                 0.063         0.000          0.141       0.139
       4                 0.016         0.062          0.061       0.118
       5                 0.040         0.022          0.131       0.234
...                        ...           ...            ...         ...
11     14                0.010         0.102          0.080       0.149
       15                0.000         0.078          0.014       0.103
       16                0.063         0.053          0.043       0.088
       17                0.019         0.063          0.042       0.126
       18                0.062         0.095          0.112       0.150

[250 rows x 10 columns]

In [13]:
p = pivot.corr().round(2)
p

name,Ariel Winter,Ed O'Neill,Eric Stonestreet,Jesse Tyler Ferguson,Julie Bowen,Nolan Gould,Rico Rodriguez,Sarah Hyland,Sofía Vergara,Ty Burrell
name,,,,,,,,,,
Ariel Winter,1.00,-0.12,-0.13,-0.09,-0.17,0.14,-0.04,0.10,-0.10,-0.24
Ed O'Neill,-0.12,1.00,-0.14,-0.06,0.11,-0.26,-0.08,-0.15,0.12,0.14
Eric Stonestreet,-0.13,-0.14,1.00,0.28,-0.06,-0.12,-0.08,-0.10,-0.02,-0.19
Jesse Tyler Ferguson,-0.09,-0.06,0.28,1.00,0.02,-0.15,-0.16,-0.13,-0.15,-0.16
Julie Bowen,-0.17,0.11,-0.06,0.02,1.00,-0.26,-0.11,-0.13,-0.02,0.20
Nolan Gould,0.14,-0.26,-0.12,-0.15,-0.26,1.00,0.02,0.05,0.07,-0.07
Rico Rodriguez,-0.04,-0.08,-0.08,-0.16,-0.11,0.02,1.00,-0.12,0.02,-0.05
Sarah Hyland,0.10,-0.15,-0.10,-0.13,-0.13,0.05,-0.12,1.00,-0.16,-0.22
Sofía Vergara,-0.10,0.12,-0.02,-0.15,-0.02,0.07,0.02,-0.16,1.00,-0.01
Ty Burrell,-0.24,0.14,-0.19,-0.16,0.20,-0.07,-0.05,-0.22,-0.01,1.00

In [16]:
temp = p.reset_index()
pd.melt(temp, id_vars='name', var_name='variable2', value_name='correlation')

                    name     variable2  correlation
0           Ariel Winter  Ariel Winter         1.00
1             Ed O'Neill  Ariel Winter        -0.12
2       Eric Stonestreet  Ariel Winter        -0.13
3   Jesse Tyler Ferguson  Ariel Winter        -0.09
4            Julie Bowen  Ariel Winter        -0.17
..                   ...           ...          ...
95           Nolan Gould    Ty Burrell        -0.07
96        Rico Rodriguez    Ty Burrell        -0.05
97          Sarah Hyland    Ty Burrell        -0.22
98         Sofía Vergara    Ty Burrell        -0.01
99            Ty Burrell    Ty Burrell         1.00

[100 rows x 3 columns]

## Distance

In [24]:
connection_string = 'mysql+pymysql://amos:M0$hicat@192.168.0.131:3306/CineFace'
engine = db.create_engine(connection_string)

In [25]:
with engine.connect() as conn:
    df = pd.read_sql_query('SELECT * FROM faces WHERE imdb_id = 412142', conn)
df.head()

,imdb_id,season,episode,frame_num,face_num,x1,y1,x2,y2,right_eye_x,...,mouth_left_y,confidence,encoding,detection_backend,recognition_model,img_height,img_width,pct_of_frame,distance_from_center,cast_id
0,412142,1,1,240,0,702,192,972,558,780,...,None,0.908107,"[-0.6357511281967163, -1.149339199066162, 0.81...",yunet,Facenet,1080,1920,0.0477,205.0,17346.0
1,412142,1,1,264,0,714,258,978,624,798,...,None,0.903495,"[-0.894336462020874, -1.4297524690628052, 1.68...",yunet,Facenet,1080,1920,0.0466,150.0,17346.0
2,412142,1,1,288,0,336,270,648,696,438,...,None,0.908183,"[-1.1866512298583984, -1.5679306983947754, 0.0...",yunet,Facenet,1080,1920,0.0641,471.0,NaN
3,412142,1,1,1056,0,918,144,1092,372,966,...,None,0.918759,"[-0.5206587314605713, -0.4623100161552429, 0.8...",yunet,Facenet,1080,1920,0.0191,285.0,NaN
4,412142,1,1,1080,0,996,96,1164,318,1044,...,None,0.917952,"[0.977651834487915, 0.8758161067962646, -1.128...",yunet,Facenet,1080,1920,0.0180,353.0,62717.0

In [20]:
house_df = df[(df['imdb_id'] == 412142)]
house_df

,cast_id,name,imdb_id,series,season,episode,count,frequency,avg_face_pct_of_frame
9,52,David Morse,412142,None,3,5,81.0,0.051,0.1505
10,52,David Morse,412142,None,3,6,53.0,0.051,0.0726
11,52,David Morse,412142,None,3,7,83.0,0.051,0.0832
12,52,David Morse,412142,None,3,8,NaN,NaN,NaN
13,52,David Morse,412142,None,3,9,130.0,0.093,0.1153
...,...,...,...,...,...,...,...,...,...
22263,4105768,Kristen Pate,412142,None,2,12,NaN,NaN,NaN
22265,4180942,Corey M. Curties,412142,None,6,6,NaN,NaN,NaN
22307,4702918,Ben Carroll,412142,None,3,18,NaN,NaN,NaN
22349,4892697,Stephen P. Nick,412142,None,3,1,NaN,NaN,NaN
22351,4993800,Esther Kwan,412142,None,5,4,NaN,NaN,NaN

In [21]:
episode_df = house_df[(house_df['season'] == 1) &
                      (house_df['episode'] == 1)]
episode_df.head()

,cast_id,name,imdb_id,series,season,episode,count,frequency,avg_face_pct_of_frame
598,2692,Robert Sean Leonard,412142,None,1,1,60.0,0.048,0.0671
1284,4987,Omar Epps,412142,None,1,1,111.0,0.089,0.0851
4767,17346,Robin Tunney,412142,None,1,1,153.0,0.122,0.0737
7663,41419,Hugh Laurie,412142,None,1,1,407.0,0.326,0.0674
7842,41420,Lisa Edelstein,412142,None,1,1,99.0,0.079,0.0419